<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Main">
                    <match url="^([a-zA-Z0-9_-]+)$" />
                    <action type="Rewrite" url="index.php?page={R:1}&amp;subpage=home" />
                </rule>
                <rule name="MainESub">
                    <match url="^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$" />
                    <action type="Rewrite" url="index.php?page=$1&amp;subpage=$2" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
